$color-black: #060102
$color-white: #f3f3f3
$color-grey: #e8d9de
$color-action: #dc3d58

$top-margin: 50px
$hero-row-size: 150px

$font-body: 'Oswald', sans-serif
$normal-weight: 300
$bold-weight: 500
$font-title: 'Great Vibes', cursive

body
  background-color: $color-grey
  margin: 0
  padding: 0
  font-family: $font-body
  font-weight: $normal-weight

h1, h2, h3, h4, h5
  font-family: $font-title
  letter-spacing: 0.1rem
  font-weight: normal

a, a:active, a:hover, a:visited
  color: $color-action

.hero
  width: 100%
  height: 100%
  background-color: $color-black
  background-image: url('../images/003_hero.jpg')
  background-position: 0 $top-margin
  background-repeat: no-repeat
  background-size: auto 100%

  .content
    box-sizing: border-box
    text-align: center
    color: $color-white
    height: 100%
    width: 100%
    background-color: rgba(0, 0, 0, 0.7)

    blockquote
      margin: 60px auto
      width: 500px
      color: $color-grey
      p
        margin: 0

      .quote
        font-size: 1.2rem
        line-height: 1.4rem
        text-align: left
        letter-spacing: 0.04rem
        &::before
          content: '"'
          font-size: 1.5rem
          margin-right: 4px
        &::after
          content: '"'
          font-size: 1.5rem
          margin-left: 4px
      .source
        text-align: right
        font-family: $font-title
        font-size: 1.5rem
        margin-top: 8px
        letter-spacing: 0.07rem

        &::before
          content: '\2014 '
          margin-right: 4px

    img
      margin-top: $top-margin - 25px
      width: 300px

    a.cta
      display: block
      background-color: $color-action
      padding: 8px 12px
      border-radius: 8px
      color: $color-white
      border: 0
      outline: 0
      text-transform: uppercase
      font-size: 1.5rem
      margin-top: 30px
      font-weight: $bold-weight
      letter-spacing: 0.15rem
      width: 120px
      text-decoration: none
      margin-left: auto
      margin-right: auto

      &:hover
        background-color: darken($color-action, 15%)

.row

  .wrapper
    width: 800px
    margin: $top-margin auto

    img.book
      width: 300px
      display: inline-block
      vertical-align: top

    .summary
      width: 400px
      display: inline-block
      margin-left: 80px
      color: $color-black

      p:first-child
        margin-top: 0

  a:active, a:hover
    color: darken($color-action, 15%)
