$color-black: #060102
$color-white: #f3f3f3
$color-grey: #e8d9de
$color-action: #dc3d58

$top-margin: 50px
$hero-row-size: 150px

$font-body: 'Oswald', sans-serif
$normal-weight: 300
$bold-weight: 500
$font-title: 'Great Vibes', cursive

$desktop-breakpoint: 800px

body
  background-color: $color-grey
  margin: 0
  padding: 0
  font-family: $font-body
  font-weight: $normal-weight

h1, h2, h3, h4, h5
  font-family: $font-title
  letter-spacing: 0.1rem
  font-weight: normal

a, a:active, a:hover, a:visited
  color: $color-action

.hero
  width: 100%
  height: auto
  background-color: $color-black
  background-image: url('../images/003_hero.jpg')
  background-position: 0 #{$top-margin+200px}
  background-repeat: no-repeat
  background-size: 100% auto

  @media (min-width: $desktop-breakpoint)
    height: 100%
    background-size: auto 100%
    background-position: 0 $top-margin

  .content
    box-sizing: border-box
    text-align: center
    color: $color-white
    height: 100%
    width: 100%
    background-color: rgba(0, 0, 0, 0.7)

    blockquote
      margin: 30px auto
      width: 80%
      color: $color-grey

      @media (min-width: $desktop-breakpoint)
        width: 500px
        margin: 60px auto

      p
        margin: 0

      .quote
        font-size: 1rem
        line-height: 1.2rem
        text-align: left
        letter-spacing: 0.04rem
        &::before
          content: '"'
          font-size: 1.5rem
          margin-right: 4px
        &::after
          content: '"'
          font-size: 1.5rem
          margin-left: 4px

        @media (min-width: $desktop-breakpoint)
          font-size: 1.2rem
          line-height: 1.4rem

      .source
        text-align: right
        font-size: 1rem
        font-style: italic
        margin-top: 8px
        letter-spacing: 0.07rem

        @media (min-width: $desktop-breakpoint)
          font-family: $font-title
          font-size: 1.5rem
          font-style: normal

        &::before
          content: '\2014 '
          margin-right: 4px

    img
      margin-top: $top-margin - 25px
      width: 300px

    a.cta
      display: block
      background-color: $color-action
      padding: 8px 12px
      border-radius: 8px
      color: $color-white
      border: 0
      outline: 0
      text-transform: uppercase
      font-size: 1.5rem
      margin-top: 30px
      font-weight: $bold-weight
      letter-spacing: 0.15rem
      width: 120px
      text-decoration: none
      margin-left: auto
      margin-right: auto

      &:hover
        background-color: darken($color-action, 15%)

.row

  .wrapper
    margin: $top-margin auto
    width: 100%

    @media (min-width: $desktop-breakpoint)
      width: $desktop-breakpoint

    img.book
      // width: 80%
      // margin-left: 10%
      // margin-right: 10%
      display: none

      @media (min-width: $desktop-breakpoint)
        vertical-align: top
        width: 300px
        display: inline-block

    .summary
      width: 80%
      margin-left: 10%
      margin-right: 10%
      display: block
      color: $color-black

      @media (min-width: $desktop-breakpoint)
        width: 400px
        display: inline-block
        margin-left: 80px
        margin-right: 0

      p:first-child
        margin-top: 0

      a:active, a:hover
        color: darken($color-action, 15%)
